.tools{
    cursor: pointer;
    background: #fff;
    border-radius: 8px;
    box-shadow: 2px 2px 10px #ccc;
    width: 104px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 10px;
}